html(ng-app='app')
  meta(name='viewport' content='width=device-width, user-scalable=no')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css')

  block styles
    link(rel='stylesheet' href='docs/vendor.css')

body(ng-controller='IndexController as controller')
  h2 angular-mn-form
  include github-corner

  .mn-layout-fullscreen.mn-layout-centered
    .mn-layout-container
      mn-form.mn-layout-column.mn-layout-sm-row(submit='controller.submit()')
        mn-input.flex#username(placeholder='username' required)
        button.mn-button(type='button') simple button
        button.mn-button(type='submit') submit

  .docs.mn-layout-container
    mn-code.sh.
      npm install --save angular-mn-form

    p And bundle dependencies and main files in <strong>dist/</strong> with your preferred tool.

    h3 usage
    mn-code.js.
      // add dependency in you module
      angular.module('app', [
        'mn-form'
      ])

    p And then, in your html, you can use the tag

    mn-code.html.
      <mn-form submit='controller.save()'>
        <!-- content of form here, inputs, textarea, select, buttons, etc -->
      </mn-form>

    p Note, the <strong>submit</strong> directive, will check validity of form, and only if is valid, they call your method (controller.save in example). Is similar to 'submit='form.$valid && controller.save'', but you dont need write "form.$valid", this is implicit in submit directive.

    p For more details check <a href="https://github.com/minimalist-components/mn-form">mn-form docs</a>.



  block scripts
    script(src='docs/vendor.js')
    script(src='dist/angular-mn-form.js')

  script.
    angular.module('app', [
      'mn-form',
    ])

    angular
      .module('app')
      .controller('IndexController', IndexController);

    function IndexController() {
      this.disabled = true
      this.submit = submit

      function submit() {
        console.log('submiting')
      }
    }

