html(ng-app='app')
  meta(name='viewport' content='width=device-width, user-scalable=no')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css')
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans')
  style.
    body {
      font-family: 'Open Sans', sans-serif;
      -webkit-font-smoothing: antialiased;
    }

body(ng-controller='IndexController as controller')
  //- mn-form(submit='controller.submit()')
    h2 mn-form
    input(placeholder='username' ng-model='controller.credentials.username' required)
    button(type='submit') Send

  //- form(name='loginForm', ng-submit='controller.submit()')
  mn-form(name='test' submit='controller.submit()')
    h2 mn-form 2
    input(placeholder='email' ng-model='controller.credentials.email' required type='email')
    button(type='submit') Send

  script(src='vendor.js')
  script(src='angular-mn-form.js')
  script.
    angular.module('app', [
      'mn-form',
    ])

    angular
      .module('app')
      .controller('IndexController', IndexController)

    function IndexController() {
      this.credentials = {
        username: undefined,
        password: undefined,
      }

      this.submit = submit

      function submit() {
        console.log('submiting', this.credentials)
      }
    }

